@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: aliceblue;
}
header{
  /* background-color: #ff317e; */
  /* background-color: #112339; */
  background-color: #fbfbfb;
  width: 100%;
}
.navbar-brand{
  font-size: 25px;
  font-weight: bold;
}
.box{
  border-radius: 10px;
}
h1{
  color: #ff317e;
}
button.searchBtn{
  background-color: #ff317e;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
 
}
p{
  color: #ff317e;
  font-family: sans-serif;
  top: 15px;
  position: relative;
}
button.bookBtn{
  background-color: #ff317e;
  color: white;
  /* width: 100%; */
  padding: 8px;
  border-radius: 10px;
  border: none;
}

section{
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
footer{
  background-color: #ff317e;
  color: white;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  position:fixed;
  width: 100%;
}
h2{
  color: #ff317e;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}
/*Seat style*/
.seat{
  /* width: 10px;
  height: 10px; */
  background-color: #44ba54;
  margin: 1px;
  height: 35px;
  width: 35px;
  color: white;
  text-align: center;
}
.thumb{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
a{
  text-decoration: none;
  color: #111;
}
.vertical-tabs {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: whitesmoke;
}

.vertical-tab-list {
  display: flex;
  flex-direction: column;
  /* border-right: 1px solid #ccc; */
  width: 17%;
  height: 100%;
  /* background-color: #002244; */
  /* background-color: #142b42; */
  background-color: white;
  color: rgb(99, 99, 99);
  font-size: 17px;
  font-weight: 500;
  font-family: sans-serif;
}
h6{
  color: #584949;
  font-family: sans-serif;
  font-weight: bold;
}
.vertical-tab {
  padding: 10px;
  /* border-bottom: 1px solid #ccc; */
}
h4{
  color: #ff317e;
}

.vertical-tab:last-child {
  border-bottom: none;
}

.react-tabs__tab-panel {
  flex: 1;
  padding: 10px;
}
li.react-tabs__tab--selected{
  /* background-color: #6F00FF; */
  /* background-color: #1c4e6d; */
  background-color: rgb(253, 199, 255);
  color: #ff317e;
  border-radius: 40px;
}
ul li{
  list-style: none;
  margin-top: 20px;
}
.route-list{
  background-color: #ff317e;
  padding: 2px;
  margin: 5px;
  /* color: white; */
  border-radius: 10px;
}
.route-list button{
  background: transparent;
  border: none;
  /* color: white; */
}
.submitBtn{
  background-color: #ff317e;
  border: none;
  padding: 8px;
  border-radius: 20px;
  color: white;
  width: 100%;
}
.shadow-bx{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(255, 196, 196, 0.2), 0 6px 20px 0 rgba(199, 199, 199, 0.19);
  padding: 8px;
  border-radius: 20px;
}
.dashboard{
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card{
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.react-tabs__tab-panel{
 
      background: #FFF5FF;
      background: linear-gradient(135deg, #FFF5FF, #F9FEFE);
}
.fa-plus{
  font-size: 30px;
  background-color: #ff317e;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  float:right;
}
.booked{
  background-color: red;
}
button{
  border: none;
}
.available-seat,
.booked-seat,
.selected-seat{
  width: 54px;
  height: 18px;
  
}
.available-seat{
  background-color: #44ba54;
}
.booked-seat{
  background-color: yellow;
}
.selected-seat{
  background-color: blue;
}
.dashboard-text{
  font-family: sans-serif;
  font-weight: bold;
  color: #584949;
}
.same-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.same-row i{
  font-size: 25px;
  color: white;
  background-color: rgb(253, 199, 255);
  padding: 10px;
  border-radius: 10px;
}