*{
  margin: 0;
  padding: 0;
}
header{
  background-color: #ff317e;
  width: 100%;
}
.navbar-brand{
  font-size: 25px;
  font-weight: bold;
}
.box{
  border-radius: 10px;
}
button.searchBtn{
  background-color: #ff317e;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
 
}
p{
  color: #ff317e;
  font-family: sans-serif;
  top: 15px;
  position: relative;
}
button.bookBtn{
  background-color: #ff317e;
  color: white;
  /* width: 100%; */
  padding: 8px;
  border-radius: 10px;
  border: none;
}

section{
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
footer{
  background-color: #ff317e;
  color: white;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  position:fixed;
  width: 100%;
}
h2{
  color: #ff317e;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}